# Class 1

## sub-heading

Jan 15, 2019

Learing to use Jupyter

*Italic Text* **Bold Text**

List:
- item 1
- item 2

# Syllabus

You can find the syllabus at [Figshare](http://go.gwu.edu/mae1117)

In [1]:
4*256

1024

In [2]:
2**8

256

In [3]:
print("Hello world!")

Hello world!

In [4]:
print(254*32)

8128

In [5]:
print("My first python code prints a result:", 2**8)

My first python code prints a result: 256

In [6]:
2**3 < 32

True

In [7]:
7/2

3.5

In [8]:
9**1/2

4.5

In [9]:
9**(1/2)

3.0

Above, Python followed the order of arithmetic operations: exponents first, division after.
If we want the squareroot, we need parenthesis

## Variables and their type

Variables have a **name** and a **value**

_Syntax:_ 

`name = value`

In [10]:
x = 8

In [11]:
print(x)

8

In [12]:
print(x)

8

In [13]:
type(x)

int

In [15]:
y = 3.5

In [17]:
print(y)

3.5

In [16]:
type(y)

float

In [18]:
type(x*y)

float

In [19]:
x*y

28.0

In [20]:
planet = "pluto"

In [21]:
type(planet)

str

In [23]:
x * planet

'plutoplutoplutoplutoplutoplutoplutopluto'

In [3]:
x = 6
if (x <= 9):
    print("Yes")
else:
    print("No")

Yes

In [4]:
while (x <= 9):
    x = x + 1
    print(x)

print("Done")

7
8
9
10
Done